body {
    min-height: 100vh;
    margin: 0;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: minmax(300px, 1fr) 4fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    background-color: lightskyblue;
    grid-area: 1 / 1 / 3 / 2;

    display: grid;
    grid-template-rows: 75px 150px 75px;
    gap: 30px;
}

.header {
    background-color: whitesmoke;
    grid-area: 1 / 2 / 2 / 3;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.header>div {
    border: 2px red solid;
    min-height: 50px;
}


.search {
    grid-area: 1 / 1 / 2 / 4;
}

.profile {
    grid-area: 1 / 4 / 2 / 5;

    display: grid;
    grid-template-columns: 1fr 20px 100px 100px;
}

.greeting {
    grid-area: 2 / 1 / 3 / 3;

    display: grid;
    grid-template-columns: 75px 1fr;
    grid-template-rows: 25px 50px;
}

.greeting>.profilePicture {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.greeting>p,
.greeting>h2,
.profile>h4 {
    margin: 0;
}

.actions {
    grid-area: 2 / 3 / 3 / 5;
}

.profilePicture {
    background-color: black;
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.header button {
    background-color: lightskyblue;
    width: 75px;
    height: 50px;
    border-radius: 50px;
    border: none;
}

.bar {
    height: 20px;
    width: 100%;
    background-color: grey;
    border-radius: 50px;
}

.content {
    background-color: lightgray;
}